
<main class="salesdash">
<script>
    window.onload = function () {
    
    var chart1 = new CanvasJS.Chart("chartContainer1", {
        animationEnabled: true,
        title:{
            text: "Today's Sale"
        },
        axisY :{
            valueFormatString: "#0,.",
            suffix: "k",title: "Income"
        },
        axisX: {
            title: "Items"
        },
        toolTip: {
            shared: true
        },
        data: [{        
            type: "stackedArea",
            showInLegend: true,
            toolTipContent: "<span style=\"color:#4F81BC\"><strong>{name}: </strong></span> {y}",
            name: "",
            dataPoints: [
            { x: 1, y: 3000 },
            { x: 2, y: 7000 },
            { x: 3, y: 10000 },
            { x: 4, y: 14000 },
            { x: 5, y: 23000 },
            { x: 6, y: 31000 },
            { x: 7, y: 42000 },
            { x: 8, y: 56000 },
            { x: 9, y: 64000 },
            { x: 10, y: 81000 },
            { x: 11, y: 105000 }
            ]
        }]
    });

    var chart2 = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Monthly Sales"
	},
	axisY: {
		title: "Revenue"
	},
	data: [{        
		type: "column",  
		showInLegend: true, 
		legendMarkerColor: "grey",
		legendText: "Month",
		dataPoints: [      
			{ y: 300878, label: "Jan" },
			{ y: 266455,  label: "Feb" },
			{ y: 169709,  label: "Mar" },
			{ y: 158400,  label: "April" },
			{ y: 142503,  label: "May" },
			{ y: 101500, label: "June" },
			{ y: 97800,  label: "July" },
			{ y: 80000,  label: "August" }
		]
	}]
});
    chart1.render();
    chart2.render();
    
    }
    function myfunction(){    
      if (document.getElementById("customers").style.display === "none")
        document.getElementById("customers").style.display="block";
    else
        document.getElementById("customers").style.display="none";   
}
</script>
    
<style>
  div {
    background-image: url('img_girl.jpg');
  }
</style>
<body>
    

<div class="wrapper">
  
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">
         DASHBOARD
      </div>
      <ul>
        <li><a href="#">
          <i class="fas fa-search"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-user"></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="/owner">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Menus</span>
          </a></li>
        <li><a href="/userdash">
          <span class="icon"><i class="	fas fa-child"></i></span>
          <span class="title">Users</span>
          </a></li>
        <li><a href="/clerkdash">
          <span class="icon"><i class="fas fa-male"></i></span>
          <span class="title">Clerks</span>
          </a></li>
        <li><a href="#" class="active">
          <span class="icon"><i class="fab fa-btc"></i></span>
          <span class="title">Sales Report</span>
          </a></li>
        <li><a href="orders.html">
          <span class="icon"><i class="fas fa-cart-plus"></i></span>
          <span class="title">Orders</span>
          </a></li>
    </ul>
  </div>
  
  <div class="main_containerchart">
    <div class="item-chart">
        <div id="chartContainer1" style="height: 400px; width: 600px;" ></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>

    <div class="item-chart">
        <div id="chartContainer2" style="height: 400px; width: 600px;" ></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>
  </div>
    <div class="View-sales-report">
      <h1 style="text-align: center;margin-bottom: 4px;" >View Sales Report</h1>
    </div>
    
    <div class="Sales-date" >
      <input class="Addsales-date" type="date">
      <h1 style="color: white; margin-top: 7px;font-size:20px;">TO</h2>
      <input class="Addsales-date" type="date">
      <input class="Addsales-button" type="button" value="view" onclick="myFunction()" >
    </div>
    <div id="mydiv" style="display:none;"> 
    <table id="customers">
      <tr>
        <th>Name</th>
        <th>Total Amount</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>457834</td>
      </tr>
      <tr>
        <td>Berglunds snabbköp</td>
        <td>45678</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>20000</td>
      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>1000</td>
      </tr>
    </table>
    </div>
    <script>
    
      function myFunction() {
        var x = document.getElementById("mydiv");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
    </script>
</main>    

